/* Layout base */
body {
    font-family: var(--fonte-principal);
    background-color: var(--color-red-weak);
}

.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    background-color: var(--color-brown);
    width: 260px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.logo {
    display: block;
    margin: 0 auto 2rem;
}

.logo img{
    width: 129px;
    height: 48px;
}

.menu li {
    padding: 1rem 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 0.5rem;
}

.menu img {
    width: 16px;
    height: 16px;
}

.menu li:hover, .menu li.active {
    background-color: #a75432;
}

/* Main */
.main {
    flex: 1;
    padding: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header input {
    width: 75%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.botao {
    background-color: var(--color-gray);
    color: var(--color-white);
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.botao:hover {
    background-color: var(--color-gray);
}

/* Dashboard Section */
.dashboard h2 {
    font-family: var(--fonte-secundária);
    font-size: 3rem;
    font-weight: var(--font-weight-semi-bold);
    margin: 2.6rem 0;
}

.add-btn {
    background-color: var(--color-green);
    color: var(--color-white);
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.add-btn:hover {
    background-color: var(--color-green);
}

/* Tables */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: var(--color-white);
    border-radius: 0.5rem;
    overflow: hidden;
}

.table th, .table td {
    padding: 0.8rem;
    text-align: left;
}

.table th {
    background-color: #eaeaea;
    font-weight: var(--font-weight-semi-bold);
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Buttons */
.edit {
    background-color: var(--color-bege);
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.remove {
    background-color: var(--color-white);
    color: var(--color-red);
    border: 2px solid var(--color-red);
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 5px;
}

.remove:hover {
    background-color: var(--color-red);
    color: var(--color-white);
}

/* Reservas */
.reservas {
    margin-top: 3rem;
}

.reservas h2 {
    font-family: var(--fonte-principal);
    font-size: var(--font-size-tittle);
    margin-bottom: 1rem;
}
