.secao-agenda-reserva .res {
    background-color: #EFF0F1;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
}   

.s-a-reserva-titulo {
    font-size: var(--font-size-sub-tittle);
    font-weight: bold;
}

.secao-agenda-reserva {
    margin-bottom: 3rem;
}

.s-r-form-inputs {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 1.5rem 0;
}   

.s-r-form-inputs div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.s-r-form-inputs div input {
    border-radius: 0.5rem;
    border: none;
    width: 20rem;
    padding: 0.3rem;
}

.s-r-form-inputs div label {
    font-size: var(--font-size-small);
    font-weight: bold;
}

.s-r-form-confirmação button {
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    background-color: var(--color-green);
    color: var(--color-white);
    font-size: var(--font-size-normal);
    margin-bottom: 0.5rem;
}

.s-r-form-confirmação span {
     display: flex;
     justify-content: center;
     font-size: var(--font-size-small);
     color: var(--color-gray);
}


