<<<<<<< HEAD
.secao-formulario {
max-width: 1200px;
margin: 3rem auto 2rem auto;
display: flex;
align-items: center;
flex-direction: column;
}

.secao-formulario h2 {
    font-size: var(--font-size-tittle);
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--color-green);
}

.s-f-formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.s-f-formulario input {
    border: none;
    border-radius: 0.5rem;
    font-size: var(--font-size-normal);
    outline: none;
    padding: 0.5rem;
   background-color: var(--color-gray);
}

.s-f-formulario input::placeholder { 
    color: var(--color-white);
}

.s-f-formulario input:hover {
    opacity: 90%;
}

.s-f-formulario p {
    font-size: var(--font-size-medium);
    margin-bottom: 2rem;
    color: var(--color-gray);
    display: flex;
    align-items: center;
}

.s-f-formulario p input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 0.5px solid black;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-right: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    width: 0.5rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.s-f-formulario p input[type="checkbox"]:checked::before {
content: '✓'; 
color: var(--color-green);
}

.secao-formulario button {
    background-color: var(--color-green);
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: var(--font-size-normal);
    font-weight: bold;
    outline: none;
    padding: 0.5rem 8rem 0.5rem 8rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.secao-formulario button:hover {
    opacity: 90%;
}

.secao-formulario a {
    text-decoration: none;
    font-size: var(--font-size-small);
    color: var(--color-gray);
}

.subdominio-link {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    width: 200px;
    text-align: center;
}
.subdominio-link:hover {
    background-color: #f0f0f0;
}

.s-f-formulario p {
    margin-bottom: 5px;
}
=======
.secao-formulario {
max-width: 1200px;
margin: 3rem auto 2rem auto;
display: flex;
align-items: center;
flex-direction: column;
}

.secao-formulario h2 {
    font-size: var(--font-size-tittle);
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--color-green);
}

.s-f-formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.s-f-formulario input {
    border: none;
    border-radius: 0.5rem;
    font-size: var(--font-size-normal);
    outline: none;
    padding: 0.5rem;
   background-color: var(--color-gray);
}

.s-f-formulario input::placeholder { 
    color: var(--color-white);
}

.s-f-formulario input:hover {
    opacity: 90%;
}

.s-f-formulario p {
    font-size: var(--font-size-medium);
    margin-bottom: 2rem;
    color: var(--color-gray);
    display: flex;
    align-items: center;
}

.s-f-formulario p input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 0.5px solid black;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-right: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    width: 0.5rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.s-f-formulario p input[type="checkbox"]:checked::before {
content: '✓'; 
color: var(--color-green);
}

.secao-formulario button {
    background-color: var(--color-green);
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: var(--font-size-normal);
    font-weight: bold;
    outline: none;
    padding: 0.5rem 8rem 0.5rem 8rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.secao-formulario button:hover {
    opacity: 90%;
}

.secao-formulario a {
    text-decoration: none;
    font-size: var(--font-size-small);
    color: var(--color-gray);
}

.subdominio-link {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    width: 200px;
    text-align: center;
}
.subdominio-link:hover {
    background-color: #f0f0f0;
}

.s-f-formulario p {
    margin-bottom: 5px;
}
>>>>>>> 058331c73f5ed94323da428e2a316c8113a416ac
