.secao-info-reserva {
    display: flex;
    margin: 3rem auto 0 auto;
    max-width: 1200px;
    margin-bottom: 2rem;
}

.secao-info-reserva img {
    width: 30rem;
    border-radius: 0.5rem;
}

.s-i-r-conteudo {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.s-i-r-titulo {
    font-size: var(--font-size-tittle);
    font-weight: bold;
}

.s-i-r-dados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 1.5rem;
}

.s-i-r-dados img {
    width: 1rem;
    margin-right: 0.5rem;
}

.s-i-r-nacionalidade {
    font-size: var(--font-size-normal);
    color: var(--color-gray);
    margin-bottom: 1rem;
}

.s-i-r-paragrafo {
    font-size: var(--font-size-normal);
    line-height: 1.3;
    margin-bottom: 1rem;
}

.s-i-r-dados span {
    display: block;
}

