.rodape {
  background-color: var(--color-gray);
  padding: 3rem;
}

.rodape-logo img {
    width: 100px;      
  margin-bottom: 1rem;   
}

.rodape-informacoes{
  display: flex;
  align-items: flex-end; 
  justify-content: space-between;
  margin-bottom: 1rem;
}

.rodape-i-contatos{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--color-white);
    font-size: var(--font-size-small);
}

.rodape-i-termos {
    display: flex;
   flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.rodape-i-termos a {
  color: var(--color-white);
  text-decoration: none;
  font-size: var(--font-size-small);
}

.rodape-redes-sociais {
display: flex;
flex-direction: center;
align-items: center;
gap: 1.5rem;
}

.rodape-redes-sociais img {
width: 18px;
}