<<<<<<< HEAD
.secao-busca {
    padding: 8rem 0;
    text-align: center;
}

.s-b-titulo {
    font-family: var(--fonte-secundária);
    font-size: var(--font-size-main-tittle);
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 1.5rem;
}

.s-b-paragrafo {
    font-size: var(--font-size-sub-tittle);
    color: var(--color-white);
    margin-bottom: 0.6rem;
}

.s-b-inputs {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.s-b-inputs-cidade,
.s-b-inputs-restaurante {
    display: block;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    font-size: var(--font-size-small);
}

.s-b-inputs-restaurante {
    width: 20rem;
}

.s-b-inputs-restaurante:focus,
.s-b-inputs-cidade:focus {
    border: none;
    outline: 1px solid var(--color-gray);
}

.s-b-inputs-pesquisar {
    display: block;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-gray);
    color: var(--color-white);
    font-size: var(--font-size-small);
}

.s-b-inputs-pesquisar:focus {
    border: none;
    outline: 1px solid var(--color-white);
=======
.secao-busca {
    padding: 8rem 0;
    text-align: center;
}

.s-b-titulo {
    font-family: var(--fonte-secundária);
    font-size: var(--font-size-main-tittle);
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 1.5rem;
}

.s-b-paragrafo {
    font-size: var(--font-size-sub-tittle);
    color: var(--color-white);
    margin-bottom: 0.6rem;
}

.s-b-inputs {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.s-b-inputs-cidade,
.s-b-inputs-restaurante {
    display: block;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    font-size: var(--font-size-small);
}

.s-b-inputs-restaurante {
    width: 20rem;
}

.s-b-inputs-restaurante:focus,
.s-b-inputs-cidade:focus {
    border: none;
    outline: 1px solid var(--color-gray);
}

.s-b-inputs-pesquisar {
    display: block;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-gray);
    color: var(--color-white);
    font-size: var(--font-size-small);
}

.s-b-inputs-pesquisar:focus {
    border: none;
    outline: 1px solid var(--color-white);
>>>>>>> 058331c73f5ed94323da428e2a316c8113a416ac
}