.secao-historico-reservas {
    max-width: 1200px;
    margin: 0 auto 3rem auto;
}

.s-h-r-titulo {
    font-size: var(--font-size-tittle);
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.s-h-r-paragrafo {
    font-size: var(--font-size-normal);
    margin-bottom: 0.5rem;
}

.s-h-r-estatisticas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.s-h-r-estatisticas-item {
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.s-h-r-estatisticas-item-quantidade {
    font-size: var(--font-size-tittle);
    font-weight: bold;
}

.s-h-r-estatisticas-item-descricao {
    font-size: var(--font-size-medium);
}

.cor-cinza {
    color: var(--color-gray);
}

.cor-verde {
    color: var(--color-green);
}

.cor-amarela {
    color: var(--color-bege);
}

.cor-vermelha {
    color: var(--color-red);
}

.s-h-r-filtros {
    display: flex;
    background-color: var(--color-red-weak);
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem 0.8rem;
    gap: 1rem;
    width: fit-content;
    margin-bottom: 2rem;
}

.s-h-r-filtros-item {
    border: none;
    background: none;
    font-size: var(--font-size-small);
    cursor: pointer;
}

.s-h-r-filtros-item-selecionado {
    background-color: #ffffffb0;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
}

.s-h-r-lista-reservas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.s-h-r-lista-vazia {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-red-weak);
    padding: 1rem;
    width: 100%;
    height: 10rem;
    border-radius: 0.5rem;
    color: var(--color-red);
    font-size: var(--font-size-sub-tittle);
}

.s-h-r-lista-reservas-item {
    border: 1px solid rgba(0, 0, 0, 0.242);
    padding: 2rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.s-h-r-lista-reservas-item img {
    width: 20rem;
    margin-right: 1.2rem;
    border-radius: 0.5rem;
    grid-column: 1 / 2;
    grid-row: 1 / 14;
}

.s-h-r-lista-reservas-item-status {
    display: inline-block;
    padding: 0.7rem 1.3rem;
    border-radius: 0.3rem;
    color: var(--color-white);
    text-align: center;
    grid-column: 4 / 5;
}


.s-h-r-lista-reservas-item-titulo {
    font-size: var(--font-size-sub-tittle);
    font-weight: bold;
    margin-bottom: 0.5rem;
    grid-column: 2 / 3;
    grid-row: 1;
}

.s-h-r-lista-reservas-item-nacionalidade {
    grid-column: 2 / 3;
    grid-row: 2;
    font-size: var(--font-size-normal);
    color: var(--color-black-wak);
}

.s-h-r-lista-reservas-item-data {
    font-size: var(--font-size-normal);
    color: var(--color-black-wak);
    grid-column: 2 / 3;
    grid-row: 9;
}

.s-h-r-lista-reservas-item-hora {
    font-size: var(--font-size-normal);
    color: var(--color-black-wak);
    grid-column: 2 / 3;
    grid-row: 11;
}

.s-h-r-lista-reservas-item-pessoas {
    font-size: var(--font-size-normal);
    color: var(--color-black-wak);
    grid-column: 2 / 3;
    grid-row: 13;
}

.status-agendada {
    background-color: var(--color-green);
}

.status-cancelada {
    background-color: var(--color-red);
}

.status-concluida {
    background-color: var(--color-bege);
}